<!--  
  => typebutton
  type du bouton, par defaut 'button'

  => textColor
  couleur du texte, par defaut '#fff'

  => activeTooltip  
  active ou pas le tooltip, par defaut activé

-->

@set('tooltip', activeTooltip ?? true)
@set('typebutton', typeButton ?? 'button')
@set('textcolor', textColor ?? 'text-black dark:text-white')


  <button  class="{{textcolor}}" type="{{typebutton}}" data-tooltip-target="btn_validate" data-tooltip-placement="bottom" type="button">
    <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M9.00002 16.2L4.80002 12L3.40002 13.4L9.00002 19L21 6.99998L19.6 5.59998L9.00002 16.2Z" fill="#21D184"/>
      </svg>
  </button>
  @if(tooltip)
  <!-- tooltip -->
  <div id="btn_validate" role="tooltip"
      class="inline-block absolute invisible z-10 py-2 px-3 text-xs font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
      Valider
      <div class="tooltip-arrow" data-popper-arrow></div>
  </div>
  @end