<!--
=> textbtn: string
text du bouton du formulaire

=> stylediv: string
style du div du btn du formulaire
-->

<div class="{{stylediv}}">
    <button type="submit"
        class="px-4 py-2 leading-tight bg-ac hover:bg-ahc dark:bg-ad dark:hover:bg-ahd rounded-lg text-white">{{textbtn}}</button>
</div>