@layout('layouts/layout_public')

@section('main-public')

<h1>Skilz</h1>
@boxs.boxGrContent({text: "Se connecter"})
@!inputs.input({
required: true,
name: 'profil',
type:'text',
value: '',
placeholder: "Identifiant"
})

@!inputs.input({
required: true,
name: 'profil',
type:'text',
value: '',
placeholder: "Mot de passe"
})

@inputs.inputPrefixIcon({
required: true,
name: 'profil',
type:'text',
value: '',
placeholder: "Mot de passe"
})
@!icons.collaborateur()
@end
@end
@end