@layout('layouts/layout_public')

@section('main-public')
<p class="truc-size">page app</p>
<form action="{{route('AuthController.logout')}}?_method=DELETE" method="POST">
    {{ csrfField() }}
    <button class=" text-ac truc-size" type="submit">Deconnexion</button>
</form>
@end