@layout('layouts/layout_public')

@section('main-public')
<p class="skillz-size-xs">page app</p>
<form action="{{route('AuthController.logout')}}?_method=DELETE" method="POST">
    {{ csrfField() }}
    <button class="skillz-size-xs text-ac" type="submit">Deconnexion</button>
</form>
@end