<table class="table-auto border-collapse border border-slate-500 w-full">
    <thead class="bg-fcb dark:bg-fdb">
        <tr>
            {{{ await $slots.headTab() }}}
        </tr>
    </thead>
    <tbody>
        {{{ await $slots.contentTab() }}}
    </tbody>
</table>