<footer class="flex-none py-10 flex justify-center bg-fc dark:bg-fd">
    <section class="md:w-10/12 lg:w-8/12">
        <!-- partie marque -->

        <!-- partie menu -->
        <nav>
            <ul></ul>
        </nav>

        <!-- partie copyright avec menu des pages de lois -->
        <section>
            <!-- copyright-->
            <p></p>

            <!-- menu lois -->
            <nav>
                <ul></ul>
            </nav>
        </section>
    </section>
</footer>