<header class="flex items-center justify-center sticky top-0 w-full h-10 bg-fcl dark:bg-fdl flex-none">
    <!-- title avec logo -->
    @!titles.titleLogoHeader()

    <!-- menu public -->
    <nav class="h-full">
        <ul class="h-full">
            <!-- lien se connecter -->
            <!-- lien créer mon compte -->
        </ul>
    </nav>

    <!-- liste icon action -->
    <ul class="h-full">
        <!-- btn switch mode dark -->
    </ul>
</header>