<section
    class="bg-fcl dark:bg-fdl text-white text-sm flex items-center w-full pl-4 pr-4 md:pr-16 lg:pr-32 h-8 fixed top-0 z-50">
    <!-- title -->
    @!titles.titleMenuTopApp()

    <!-- menu droit -->
    <nav class="flex-none">
        <ul>
            <!-- btn deconnect -->
            @!btns.btnIconDeconnect()
        </ul>
    </nav>
</section>