<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- composant css tailwind -->
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css" />
    <title>{{title}}</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
    <!-- animation css tailwind -->
    <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js" defer></script>
</head>

<body class="bg-fc dark:bg-fd flex flex-col">
    <!-- header -->
    @include('partials/header_public')

    <!-- main -->
    <main class="flex-1" content-public>
        @!section('main-public')
    </main>

    <!-- footer -->
    @include('partials/footer_public')
</body>

</html>