<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
</head>

<body>
    <!-- header -->
    @include('partials/header_public')

    <!-- main -->
    <main>
        @!section('main-public')
    </main>

    <!-- footer -->
    @include('partials/footer_public')
</body>

</html>